@import "vendor/bourbon/bourbon";
@import url('https://fonts.googleapis.com/css?family=Poppins');

/*! HTML5 Boilerplate v5.0 | MIT License | http://h5bp.com/ */

html {
    color: #222;
    font-size: 62.5%;
    line-height: 1.5;
}

body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    font-size: 3.6rem;
    font-weight: normal;
    letter-spacing: 0.01em;
}

::-moz-selection {
    background-color: yellow;
    text-shadow: none;
}

::selection {
    background-color: yellow;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/* ==========================================================================
   Author's custom styles
   ========================================================================== */

a {
    color: black;
    &.active {}
    &:link,
    &:visited {}
    &:hover,
    &:active {
        text-decoration: line-through;
    }
}

.container {
    @include display(flex);
    @include flex-direction(column);
    @include justify-content(center);
    @include align-items(center);
    height: 100vh;
    width: 100vw;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    &.hovering {
        color: black;
        a {
            color: black;
        }
    }
}

.container__content {
    @include display(flex);
    @include flex-direction(column);
    @include justify-content(space-between);
    @include align-items(center);
    padding: 6rem;
    height: 100%;
}

.header {
    @include display(flex);
    @include justify-content(space-between);
    @include align-items(center);
    width: 100%;
    p {
        margin: 0;
    }
}

.about {
    @include display(flex);
    @include justify-content(center);
    @include flex-direction(column);
    width: 100%;
}

.links {
    @include display(flex);
    @include justify-content(space-between);
    @include align-items(center);
    width: 100%;
}

.nobr {
    white-space: nowrap;
}


/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (max-width: 1024px) {}

@media only screen and (max-width: 768px) {
    .container__content {
        font-size: 0.5em;
        padding: 2.5rem;
    }
    .nobr {
        white-space: normal;
    }
}

@media only screen and (max-width: 320px) {
    .links {
        @include flex-flow(row wrap);
        a {
            @include flex-basis(50%);
            @include align-self(flex-end);
            &:nth-of-type(2),
            &:nth-of-type(4) {
                text-align: right;
            }
            &:nth-of-type(3),
            &:nth-of-type(4) {
                margin-top: 1em;
            }
        }
    }
}

@media only screen and (min-width: 1460px) {
    .container__content {
        font-size: 1.5em;
    }
}

@media print,
(-o-min-device-pixel-ratio: 5/4),
(-webkit-min-device-pixel-ratio: 1.25),
(min-resolution: 120dpi) {}


/* ==========================================================================
   Helper classes
   ========================================================================== */

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}


/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }
    a,
    a:visited {
        text-decoration: underline;
    }
    a[href]:after {
        content: " (" attr(href) ")";
    }
    abbr[title]:after {
        content: " (" attr(title) ")";
    }
    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }
    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }
    thead {
        display: table-header-group;
    }
    tr,
    img {
        page-break-inside: avoid;
    }
    img {
        max-width: 100% !important;
    }
    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }
    h2,
    h3 {
        page-break-after: avoid;
    }
}
